#jumbotron-fluid { 
                  /* background-image: url(../images/delivery\ logo.jpg); */
                  /* height: 600px; */
                  text-align: center;
                  color: black;
                  display:cover;
                 }
.head {
        text-align: center;
        padding-top: 10px;
        font-size: 50px;
}
.pizza {
         float: left;
         margin-right: 10px;
         border-radius: 10px;
         
}
body { 
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-style: italic;
       font-weight: bold;
}
.header {
          text-align: center;
          font-weight: border;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 40px;
          padding-top: 50px;
}
.small {
         font-weight: lighter;
         font-style: italic;
         font-size: 20px;
         color: black;
}
.delivery {
            float: right;
            height: 350px;
            background: transparent;
            width: 350px;
            padding-right: 30px;
            border-radius: 10px;

} 
.pizzaBox {
            float: left;
            height: 700px;
            border-radius: 10px;
            margin-right: 10px;
}
.products{
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 9%;
        padding-right: 9%;
      }
#form {
        text-align: center;
        font-size: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-control {
                 /* background-image: url(../images/pizza2.jpg); */
                 background-color: black;
                 color: burlywood;
                 padding-left: 20px;

}
/* .form-group {
              font-weight: bold;
              font-size: 20px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.menu {
        font-weight: bolder;
        font-size: 35px;
        font-style: italic;
}
.image-fluid {
        max-width: 100%;
        height: 300px;
        width: 300px;
        margin: 5px;
        background-color: transparent;
}
.products {
            font-weight: bolder;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: italic;
            font-size: 40px;
}                 
/* .container-fluid {
                   display: inline;
} */
#myform {
          text-align: center;
          font-style: italic;

}
.footer {
          text-align: center;
          background-color: dimgrey;
          padding-top: 20px;
}
#order {
         padding-left: 20px;
         margin-left: 30px;
}

.table {
         padding: 30px;
         margin: 30px;
         
}